.web-list-item {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .web-list-item-title {
    border-bottom: 1px solid #ccc;
  }
  .web-list-item-content {
    white-space: normal;
    padding: 5px;
    background: #b1d7fe;
    color: #ffffff;
  }
}
.preserve-btn-group {
  padding: 5px;
  position: fixed;
  top:0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 2;
  button {
    margin-right: 10px;
  }
}
.preserve-container{
  padding-top: 40px;
}
